<div class="row ">

    <div class="col-12 m-auto mt-5 text-center card" style="width: 18rem;">
        <div class="card-body fs-4">
            <b>Total Slots :</b> {{totalSlots}}
        </div>
    </div>
    
    <div class="col-12">
        <div class="row">
            <div class="col-6 m-auto card text-center" style="width: 18rem;">
               <div class="card-body fs-4">
                    <b>Available Slots :</b> {{availableSlots}}
               </div>
            </div>

            <div class="col-6 m-auto card text-center" style="width: 18rem;">
                <div class="card-body fs-4">
                    <b>Booked Slots :</b> {{bookedSlots}}
                </div>
            </div>
        </div>
    </div>
</div>
