<!-- header -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" routerLink="home"><b>Online Parking System</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-primary" routerLink="addSlot">Book Slot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" routerLink="updateSlot">Update Slot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" routerLink="deleteSlot">Exit Slot</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

<!-- footer -->
<footer class="bg-light text-center text-lg-start fixed-bottom">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark text-decoration-none" routerLink="home" ><b>Online Parking System</b></a>
    </div>
</footer>