<div class="outerdiv">
  <div class="innerdiv">
      <img src="assets/logo1.png" width="60px" height="60px" style="margin-left: 41%;">
      <h1 class="title"><i>Login Form</i></h1>
      <form [formGroup]="loginForm">
          <div class="mb-3">
              <label for="email" class="validate">Email</label>
              <input type="text" class="form-control" id="email" name="email" formControlName="email" placeholder="Enter the email id">
              <span class="text-danger" *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched">
                  Email is required
              </span>  
          </div>
          <div class="mb-3">
              <label for="password" class="validate">Password</label>
              <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Enter the password">
              <span *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">
               Password must be strong
              </span>    
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid" (click)="onFormSubmit()"><i>Login</i></button>
      </form>
      <button type="submit" class="btn btn-primary register" (click)="signup()"> <i>Register New User</i></button>
  </div>
</div>
