<div class="outerdiv">
    <div class="innerdiv">
        <h1 class="title"><i>Reset Password</i></h1>
        <form [formGroup]=" resetPasswordForm">
            <div class="mb-3">
                <label for="oldpassword" class="validate">Old Password</label>
                <input type="password" class="form-control" id="oldpassword" name="oldpassword" formControlName="oldpassword" placeholder="Enter the old password">
                <span class="text-danger" *ngIf="! resetPasswordForm.get('oldpassword')?.valid && resetPasswordForm.get('oldpassword')?.touched">
                    Old password is required
                </span>  
                <span class="text-danger" *ngIf="showoldpasswordmessage">
                    Old password is mismatch
                </span>  
            </div>
            <div class="mb-3">
                <label for="newpassword" class="validate"> New Password</label>
                <input type="password" class="form-control" id="newpassword" name="newpassword" formControlName="newpassword" placeholder="Enter the new password">
                <span *ngIf="!resetPasswordForm.get('newpassword')?.valid && resetPasswordForm.get('newpassword')?.touched">
                 Password must be strong
                </span>    
            </div>
            <div class="mb-3">
                <label for="confirmPassword"  class="validate">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="enter confirm password" formControlName="confirmPassword">
                <span class="text-danger" *ngIf="(resetPasswordForm.get('confirmPassword')?.value != resetPasswordForm.get('newpassword')?.value)&& !resetPasswordForm.get('confirmPassword')?.valid && resetPasswordForm.get('confirmPassword')?.touched">
                    Password mismatches 
                </span>   
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!resetPasswordForm.valid" (click)="onFormSubmit()"><i>Reset Password</i></button>
        </form>
    </div>
  </div>
  