<div class="outerdiv">
    <div class="innerdiv">
        <img src="assets/logo1.png" width="60px" height="60px" style="margin-left: 41%;">
        <br/>
        <h1 class="title">SignUp Form </h1>
        <form [formGroup]="signupForm " (ngSubmit)="onFormSubmit()">
            <div class="mb-3">
                <label for="fullName" class="validate">Full Name</label>
                <input type="text" class="form-control" id="fullName" name="fullName" placeholder="enter name" formControlName="fullName">
                <span class="text-danger" *ngIf="!signupForm .get('fullName')?.valid && signupForm .get('fullName')?.touched">
                    Fullname is required and should contain only alphabets
                </span>    
            </div>
            <div class="mb-3">
                <label for="email"  class="validate">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="enter email" formControlName="email">
                <span class="text-danger" *ngIf="!signupForm.get('email')?.valid && signupForm.get('email')?.touched">
                    Email is required and  format :"hello@gmail.com" 
                </span>  
                <span class="text-danger" *ngIf="!emailAvailable">
                    Email already taken
                </span>  
            </div>
            <div class="mb-3">
                <label for="password"  class="validate">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="enter password" formControlName="password">
                <span class="text-danger" *ngIf="!signupForm.get('password')?.valid && signupForm.get('password')?.touched">
                    Minimum length is 8 and it must have at-least 1 special character, 1 number and 1 alphabet 
                </span>    
            </div>
            <div class="mb-3">
                <label for="confirmpassword"  class="validate">Confirm Password</label>
                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="enter confirm password" formControlName="confirmPassword">
                <span class="text-danger" *ngIf="(signupForm.get('ConfirmPassword')?.value != signupForm.get('Password')?.value)&& !signupForm.get('confirmPassword')?.valid && signupForm.get('confirmPassword')?.touched">
                    Password mismatches 
                </span>   
            </div>
        
            <div class="mb-3">
                <label for="bank"  class="validate">Bank</label>
                <div style="position: relative;">
                
                <select required class="form-control" name="bank" id="bank" formControlName="bank">
                    <option value="SBI">SBI</option>
                    <option value="ICICI">ICICI</option>
                    <option value="HDFC">HDFC</option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down"  style="top:50%;position:absolute;right:20;transform:translateY(-50%)" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
                  </svg>
                </div>
                <span class="text-danger" *ngIf="!signupForm.get('bank')?.valid && signupForm.get('bank')?.touched">
                    Bank name is required
                </span>
            </div>
            <div class="mb-3">
                <label for="accountNumber"  class="validate">Bank Account Number</label>
                <input type="text" class="form-control" id="accountNumber" name="accountNumber" formControlName="accountNumber" placeholder="enter account number">
                <span *ngIf="!signupForm.get('accountNumber')?.valid && signupForm.get('accountNumber')?.touched">
                    Bank account number is required and should be 12 digit numeric only 
                </span>
                
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!signupForm.valid">Signup</button>
        </form>
    </div>
</div>