<div class="adduserbtn">
  <button class="btn btn-primary">Add User</button>
</div>
<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Vechile Number</th>
        <th scope="col">Entry Time</th>
        <th scope="col">Exit Time</th>
        <th scope="col">Slot Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody >
     <!-- <tr>
        <th scope="row">{{bookedSlot.name}}</th>
        <td>{{bookedSlot.vechileNumber}}</td>
        <td>{{bookedSlot.entryTime}}</td>
        <td>{{bookedSlot.exitTime}}</td>
        <td>{{bookedSlot.slotNumber}}</td>
        <td>
            <button>Update Slot</button>
            <button>Delete Slot</button>
        </td>
      </tr> -->
      <tr>
        <th scope="row">harry</th>
        <td>Qw12QW1212</td>
        <td>2022-09-09T12:09</td>
        <td>2022-09-09T12:09</td>
        <td>5</td>
        <td>
            <button class="btn btn-secondary" style="margin-right: 10px;">Update Slot</button>
            <button class="btn btn-danger">Delete Slot</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>